<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>chatroom</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script src="javasripts/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="javascripts/chat.js"></script>
</head>
<body>
    <h1>chatroom</h1>
    <div>
        <span id="status">Connecting...</span>
        <input type="text" id="input"/>
    </div>
    <div id="content"></div>
</body>
</html>